.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background-color: #faffff;
    color: white;
    border:  black;
  
  }
  
  .search-container {
    
    width: 315px;
  
    border: 2px solid black;
    border-radius: 4px;
  }
  
  .search-input {
    width: 300px;
    padding: 8px;
   
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .filter-container {
    margin-left: 10px;
    display:  flex;
    color: black;
    border: 2px solid beige;
  }
  
  .filter-select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: #333;
  }
  